<div class="form" [formGroup]="form">

  <h3>Change your information</h3>

  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput placeholder="Enter your first name" formControlName="firstName">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input matInput placeholder="Enter your last name" formControlName="lastName">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Age</mat-label>
    <input matInput placeholder="Enter your age" formControlName="age" pattern="[0-9]*">
    <mat-error>Please enter only numeric values.</mat-error>
  </mat-form-field>

  <section class="actions">
    <button mat-raised-button routerLink="/">Cancel</button>
    <button mat-raised-button color="primary" (click)="saveDataToDB()" [disabled]="!form.valid">Save</button>
  </section>

</div>
