.social-media-login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    margin: 0 10px;
    padding-top: 5px;
    height: 40px;
    display: flex;
    justify-content: center;
  }
}
