<div class="form" [formGroup]="form">
  <h3>Change your password</h3>
  <mat-form-field>
    <mat-label>Old password</mat-label>
    <input matInput placeholder="Enter your old password" formControlName="oldPassword">
    <mat-error>Password is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>New password</mat-label>
    <input matInput placeholder="Enter your new password" formControlName="password" #password>
    <mat-error *ngIf="form.controls.password.hasError('minlength')">
      The required length of the password is 6 characters
    </mat-error>
    <mat-error *ngIf="form.controls.password.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Confirm new password</mat-label>
    <input matInput placeholder="Enter your new password again" formControlName="passwordConfirm">
  </mat-form-field>

  <ng-container *ngIf="form.errors?.['passwordMismatch'] && form.controls['passwordConfirm'].touched">
    <div class="error-form-message">
      Passwords must match
    </div>
  </ng-container>

  <section class="actions">
    <button mat-raised-button routerLink="/">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!form.valid">Save</button>
  </section>

</div>
