<div class="file-upload-wrapper">
  <h3>Change your photo</h3>
  <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
  <div class="file-upload">
    <button mat-mini-fab color="primary" class="upload-btn" (click)="onClick(fileUpload)" [disabled]="disabled">
      <mat-icon>attach_file</mat-icon>
    </button>

    <mat-form-field>
      <input matInput placeholder="Add cover photo" [value]="fileName" [disabled]="true">
    </mat-form-field>
  </div>

  <mat-progress-bar class="progress-bar" mode="determinate"
                    *ngIf="(percentageChanges$ | async) as percentage"
                    [value]="percentage">
  </mat-progress-bar>

  <section class="actions">
    <button mat-raised-button routerLink="/">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!avatarUrl">Save</button>
  </section>

</div>
