<div class="wrapper">

  <img class="img-side" src="../../../assets/images/password-recovery-side.png" alt="password recovery image"/>

  <div class="form-side">
    <div class="form-wrapper">

      <div class="form-title">
        <p class="form-title__greeting">Password recovery</p>
        <p>Enter the email you're using for your account.</p>
      </div>

      <div class="form" [formGroup]="form">

        <mat-form-field>
          <mat-label>Email Address</mat-label>
          <input matInput placeholder="Enter your email address" formControlName="email">
          <mat-error *ngIf="form.controls.email.hasError('email')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="form.controls.email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" class="login-btn" (click)="passwordReset()" [disabled]="!form.valid">
        Reset
      </button>

      <a mat-button routerLink="/login" color="primary">Back to Login</a>

    </div>

  </div>

</div>
